@page
@model QuizManager.Pages.Answers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Answer.AnswerContent" class="control-label"></label>
                <input asp-for="Answer.AnswerContent" class="form-control" />
                <span asp-validation-for="Answer.AnswerContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer.AnswerType" class="control-label"></label>
                <select asp-for="Answer.AnswerType" class="form-control">
                    <option disabled selected value="">--Select an Option--</option>
                    <option value="Correct">Correct</option>
                    <option value="Incorrect">Incorrect</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Answer.QuizName" class="control-label"></label>
                <select asp-for="Answer.QuizName" class="form-control quizName" asp-items="ViewBag.QuizName">
                    <option class="blankQuiz" disabled selected value="">--Select an Option--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Answer.QuestionContent" class="control-label"></label>
                <select asp-for="Answer.QuestionContent" class="form-control questionName" asp-items="ViewBag.QuestionContent">
                    <option class="blankOption" disabled selected value="">--Select an Option--</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    window.addEventListener("load", () => {
        quiz = sessionStorage.getItem("quiz").replace(/\s/g, "");
            if (quiz) {
                quizMenu = document.querySelector(".quizName");
                quizOptions = [...quizMenu.getElementsByTagName("option")]
                quizOptions.forEach(option => {
                    option.setAttribute("disabled", true)
                    option.setAttribute("value", option.value.replace(/\s/g, ""));
                    if (option.classList.contains("blankOption")) {
                        option.setAttribute("value", "")
                    }
                    quizTarget = document.querySelector(`value=${quiz}`)
                    quizTarget.setAttribute("selected", true)
                    quizTarget.removeAttribute("disabled")
                }) 
                sessionStorage.removeItem("quiz");
            }


        question = sessionStorage.getItem("question").replace(/\s/g, "");
        if (question) {
            questionMenu = document.querySelector(".questionName");
            questionOptions = [...questionMenu.getElementsByTagName("option")];
            questionOptions.forEach(option => {
                option.setAttribute("disabled", true)
                option.setAttribute("value", option.value.replace(/\s/g, ""));
                if (option.classList.contains("blankOption")) {
                    option.setAttribute("value", "")
                }
                questionTarget = document.querySelector(`value=${question}`)
                questionTarget.setAttribute("selected", true)
                questionTarget.removeAttribute("disabled")
            })
            sessionStorage.removeItem("question")
        }

        
    });
</script>